/* TaskContainer.css */
.task-container {
    position: relative; /* relative positioning here */
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start; /* Aligns children to the start */
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
    flex-grow: 1; /* Allows task container to fill available space in the list*/
  }
  
  .task-list {
    flex-grow: 1; /* Allows task content to fill available space */
    overflow-y: auto; /* Keeps the task list scrollable */
  }

  .add-task-input-container {
    position: sticky; /* sticky positioning */
    position: -webkit-sticky; /* For Safari */
    bottom: 0; /* Aligns the container to the bottom */
    left: 0; /* Aligns the container to the left */
    width: 100%; /* Ensure it spans the full width */
    display: flex;
    justify-content: space-between;
    height: 30px;
  }
  
  .add-task-input {
    flex-grow: 1; /* Take up available space */
    margin-right: 10px; /* Space between title input and details */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
  }

  .add-task-details {
    flex-grow: 1; /* Take up available space */
    margin-right: 10px; /* Space between details and button */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    resize: vertical; /* Allow vertical resizing */
  }  
  
  .add-task-btn {
    background-color: #008C8B; /* Lighter teal for the button */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
  }
  
  .add-task-btn:hover {
    background-color: #006770; /* Slightly darker teal for the button when hover */
  }
  
  .add-task-btn:disabled {
    background-color: #ccc; /* Grey out the button when disabled */
    cursor: not-allowed;
  }
  
  
  .subtask-container {
    padding-left: 20px; /* Adjust as needed for indentation */
  }