/* ListContainer.css */
.list-container {
    display: flex;
    flex-grow: 1; /* Takes up all available space */
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: nowrap; /* Prevent wrapping of items */
    overflow-x: auto; /* Allows horizontal scrolling if lists exceed container width */
    height: 100%;
    max-width: 100%;
    gap: 20px; /* Space between lists */
    justify-content: flex-start; /* Align to the start of the main axis */
    align-items: center; /* Center items on the cross axis */
    padding: 20px;
    max-height: calc(100vh - 80px); /* Full height minus header and footer */
    margin-top: 70px; /* Adjust based on header's height */
    margin-bottom: 10px; /* Adjust based on footer's height */
  }
  
  .add-list-input {
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border: none;
  }
  
  .add-list-btn {
    background-color: #008C8B; /* Lighter teal for the button */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-list-btn:hover {
    background-color: #006770; /* Slightly darker teal for the button when hover */
  }
  
  .add-list-btn:disabled {
    background-color: #ccc; /* Grey out the button when disabled */
    cursor: not-allowed;
  }