/* List.css */
.list {
    position: relative; /* Needed to position the collapse button absolutely */
    background-color: #003B46; /* Dark teal color */
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* Fixed width for each list */
    height: auto; /* Adjust height automatically */
    max-height: 100%; /* Ensure it doesn't grow beyond the container */
    min-height: 100%; /* Adjust the minimum height as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes children with space between */
    overflow: hidden; /* Hide overflow content */
    transition: width 0.3s ease-out; /* Smooth transition for width property */
    flex-shrink: 0;
  }
  
  .list h2 {
    position: sticky;
    font-size: 20px;
    top: 0; /* Adjust if necessary, based on other fixed elements */
    /*background: inherit; /* To cover the content behind it when scrolling */
    z-index: 2; /* Ensure it stacks above other content, except the collapse button */
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
  
  .remove-list-btn {
    background-color: #C44D58; /* Red color for delete button */
    color: #fff;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
  }
  
  .remove-list-btn:hover {
    background-color: #9B2C2C; /* Darker red for the button when hover */
  }

  .collapsed {
    width: 25px; /* Set a width that will only show the collapse/expand button */
    height: 100%;
    /* Adjust padding and other properties as needed to fit the button */
  }

  .collapsed-content {
    /* Hide all children except for the collapse button */
    > :not(.collapse-toggle-btn) {
      display: none;
    }
  }

  .list.collapsed h2 {
    writing-mode: vertical-lr; /* Orient the text vertically */
    transform-origin: center; /* Ensure the rotation pivots around the center */
    margin: 0; /* Center the title */
    height: 100%; /* Full height to align vertically */
    display: flex; /* Use flexbox to align */
    align-items: center; /* Align text in the center */
    justify-content: center; /* Center the text */
}

  
  .collapse-toggle-btn {
    position: absolute;
    top: 7px;
    left: -11px; /* Position the button to the top right corner of the list */
    transform: translateX(100%); /* Move it all the way to the right of the list's border */
    z-index: 3; /* Ensure it's above the list content */
    /* Style the button */
    background-color: #008C8B; /* Lighter teal for the button */
    color: #fff; /* White text color */
    padding: 0px 4px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .collapse-toggle-btn:hover {
    background-color: #006770; /* Lighter color on hover */
  }


/* Define a keyframes animation for the hover effect */
@keyframes pulse {
  0% {
    transform: scale(1);
    color: #fff;
  }
  50% {
    transform: scale(1.1);
    color: #D4AA3A; /* Color change for fun */
  }
  100% {
    transform: scale(1);
    color: #fff;
  }
}

/* Apply the animation to the title on hover */
.list.collapsed h2:hover {
  animation: pulse 1s ease-in-out infinite;
}
.list h2:hover {
  animation: pulse 1s ease-in-out infinite;
}



.list-description-edit {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.list-description-view {
  font-size: 12px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}