/* Task.css */
.task {
    background-color: #005960; /* Slightly darker teal color */
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure it takes the full width */
  }
  
  .task-header {
    display: flex; /* Use flexbox to align children */
    align-items: center; /* Align vertically */
    justify-content: space-between; /* Space out title and buttons */
    font-size: 12px;
  }
  
  .task-title-check{
    display: flex; /* Use flexbox for the button container too */
    gap: 5px; /* some space between the buttons */
  }

  .task-completion-checkbox{
    background-color: #008C8B; /* Lighter teal for buttons */
    padding: 2px;
    margin-right: 5px;
  }
  
  .task-title {
    flex: 1; /* Allows the title to grow and fill the space */
    cursor: pointer; /* the title to toggles collapsing  */
    text-align: left;
    /* Additional styling for the title */
  }

  .task.completed {
    background-color: #3B9778; /* Different color to indicate completion */
    text-decoration: line-through;
  }

  .task-del-edit-box{
    display: flex; /* Use flexbox for the button container too */
    gap: 5px; /* some space between the buttons */
  }

  .edit-task-btn {
    background-color: #008C8B; /* Lighter teal for buttons */
    color: #fff;
    padding: 2px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-task-btn {
    background-color: #C44D58; /* Red color for delete button */
    color: #fff;
    padding: 2px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-task-btn:hover,
  .delete-task-btn:hover {
    opacity: 0.8;
  }

  .task-description{
    margin-left: 0px; /* Align paragraphs to the left */
    padding: 5px;
    font-size: 12px;
  }
  

  .edit-task-box{
    width: 100%; /* Ensure it spans the full width */
    display: flex;
    justify-content: space-between;
    height: 30px;
  }

  .edit-task-input{
    flex-grow: 1; /* Take up available space */
    margin-right: 5px; /* Space between title input and details */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .edit-task-description{
    flex-grow: 1; /* Take up available space */
    margin-right: 5px; /* Space between details and button */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow vertical resizing */
  }

  .save-task-edit-btn{
    flex-grow: 1;
    background-color: #008C8B; /* Lighter teal for the button */
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    align-items: center;
    margin-right: 5px;
  }

  .cancel-task-edit-btn{
    flex-grow: 1;
    background-color: #C44D58; /* Red color for cancel button */
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    align-items: center;
  }